* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: "Winston";
    src: url("./assets/fonts/Winston-Medium.ttf") format("truetype"),
    url("./assets/fonts/Winston-Regular.ttf") format("truetype"),
    url("./assets/fonts/Winston-SemiBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Winston";
    src: url("./assets/fonts/Winston-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Winston";
    src: url("./assets/fonts/Winston-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Winston";
    src: url("./assets/fonts/Winston-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Winston", sans-serif;
}
.headerMinHeight{
    height: 100px;
}
.portfolioHeaderWhite{
    height: 100px;
    background-color: #fff;
    width: 100%
}
.menuLine{
    width: 1px;
    height: 100vh;
    background-color: grey;
    position: absolute;
    top: 0;
    left: 40%;
}
.mainContainer {
    display: flex;
    width: 100%;
    height: 100vh;
    padding-left: 60px;
    justify-content: space-between;
}

.mainLogoBox {
    width: 50%;
    padding-top: 40px;
}

.mainRightContent {
    width: 50%;
    height: 100%;
    display: flex;
}

.rightElem {
    width: 25%;
    height: 100%;
    border-left: 1px solid #CFCFCF;
    padding-top: 40px;
}

.headeRrightElem {
    width: 25%;
    padding-top: 40px;
    height: 60px;
}

.rightElemTitle {
    font-size: 18px;
    color: #707070;
    line-height: 22px;
    font-weight: 400;
    margin-bottom: 8px;
}



.mainImages {
    width: 100%;
}

.contactUsBtn {
    width: 287px;
    height: 102px;
    background-color: #E6E6E6;
    border-top-right-radius: 1000px;
    border-bottom-right-radius: 1000px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 16px;
    cursor: pointer;
}

.contactUsBtnReversed {
    width: 197px;
    height: 76px;
    background-color: #E6E6E6;
    border-top-left-radius: 1000px;
    border-bottom-left-radius: 1000px;
    display: none;
    align-items: center;
    justify-content: flex-start;
    padding-left: 12px;
    cursor: pointer;
}
.contactUsBtnImg{
    width: 78px;
    height: 78px;
    margin-left: 18px
}
.contactUsBtnImgReversed{
    width: 60px;
    height: 60px;
    margin-right: 18px
}
.contactUsBtnTitle{
    font-size: clamp(1.125rem, 1.059rem + 0.26vw, 1.375rem);
    font-weight: 400;
    line-height: 27px;
    margin-top: 18px
}
.contactUsBtn:hover{
    width: 310px;
    transition: 0.4s;
}
.contactUsBtnReversed:hover{
    width: 210px;
    transition: 0.4s;
}

.contactUsBtnContainer {
    position: absolute;
    left: 0;
    top: 50%;
}
.contactUsBtnContainerReversed {
    display: none;
    position: absolute;
    right: 0;
    top: 82%;
}

.subtractBox {
    width: 55%;
    padding-top: 8px;
    margin: 0 auto;
}

.subtract {
  display: none;
  width: auto;
}

.tabContainer:hover .subtract {
    display: block;
}

.tabContainer.active .rightElemTitle {
    color: black;
}

.tabContainer.active .subtract {
    display: block;
}
.tabContainer:hover .rightElemTitle{
    color: black;
}

.tabContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Form-control:focus {
    box-shadow: none;
    border-color: transparent;
}
.mainDescriptionBox {
    position: absolute;
    bottom: 80px;
    left: 60px;
    width: 600px;
}

.mainDescription{
    font-weight: 500;
    font-size: clamp(1rem, 0.77rem + 0.92vw, 1.875rem);
    line-height: 34px
}

.elgrowLogo {
    position: absolute;
    width: 60%;
    height: 50%;
    right: 90px;
    top: 30%;
}

.menuBtn {
    display: none;
    position: relative;
}

.mainBottomContent {
    display: none;
}

.mainBottomContentImg {
    width: 250px;
    height: 160px;
    border-radius: 80px;
    object-fit: cover;
}

.line {
    width: 1px;
    height: 207px;
    background-color: #CFCFCF;
    margin-left: 24px;
    margin-right: 24px;
}

.rightElemTitleContainer {
    height: 60px;
}

.mainBottomContentBtn {
    cursor: pointer;
}


.servicesBox {
    display: flex;
    padding-left: 60px;
    padding-top: 10%;
}

.servicesFilters {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.servicesFiltersElem {
    cursor: pointer;
    color: #BDBDBD;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 24px;
    width: fit-content;
}
.servicesFiltersElem:hover{
    color: #000
}
.servicesActiveFiltersElem {
    cursor: pointer;
    color: #000
}

.servicesActiveFiltersDescription{
    font-size: clamp(1.75rem, 1.553rem + 0.79vw, 2.5rem);
    font-weight: 400;
    line-height: 50px;
    color: #0D0D0D;
    white-space: pre-line;
}

.casesBox{
    cursor: pointer;
}

.casesLine{
    width: 100%;
    height: 1px;
    background-color: black;
    margin-top: 4px;
}

.casesBox:hover .casesLine{
    animation-name: expand;
    animation-duration: 0.4s;
}


.servicesCasesBox{
    display: flex;
}
.menuContainer {
    position: absolute;
    height: 100%;
    z-index: 1999;
    background-color: #fff;
    left: 100%;
    top: 0;
    transition: left 1s ease;
    width: 100%;
    display: none;
}
.menuHeader{
    display: flex;
    justify-content: space-between;
    padding: 40px 40px 60px;
    margin-bottom: 20px;
}

.menuContainerVisible {
    left: 0;
    display: block;
}

.header {
    overflow: hidden;
    height: 165px;
    position: relative;
    z-index: 1;
}

.elgrowLogoMenu{
    width: 280px;
    height: 83px;
    margin-top: 32px;
}
.elgrowDescriptionMenu{
    width: 312px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 24px
}
.ticker-wrapper__first-half {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 165px;
    transform: translate(100%, 0%);
    animation: ticker 30s infinite linear forwards;
}
.ticker-wrapper{
    width: 100%;
    height: 165px;
    margin-bottom: 40px;
}
.ticker-wrapper img {
    width: 100%;
    height: 165px;
    margin-right: 28px;
}

.servicesTitles{
    text-align: center;
    margin-bottom: 40px;
    cursor: pointer;
    color: black;
}


.portfolioHeader{
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 3;
    height: 100px;
}

.portfolioImgWrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.portfolioElemContainer{
    position: relative;
    width: 50%;
    height: auto;
}

.portfolioElemImg{
    width: 100%;
}

.portfolioElemImgAnim{
    width: 100%;
    height: 100%;
    background-color: #0000004D;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    display: none;
}
.portfolioElemContainer:hover .portfolioElemImgAnim{
    display: flex;
}

.portfolioElemImgAnimText{
    font-size: 30px;
    color: #fff;
    font-weight: 700;

}
.imagesContainer{
    display: flex;
    flex-direction: row;
}

.portfolioTopImg{
    width: 50%;
    height: 30%;
}

.formModal{
    transition: left 1s ease;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: -200%;
    top: 0;
    z-index: 2;
    display: flex;

}
.formModalVisible{
    left: 0
}

.formCloseIcon{
    display: none;
    justify-content: flex-end;
}
.formLeft{
    width: 35%;
    background-color: #FFFFFF;
    height: 100%;
    padding-top: 60px;
    position: relative;
}
.formRight{
    width: 65%;
    background-color: #00000099;
    height: 100%;
}

.form-group {
    margin-bottom: 20px;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.form-label {
    font-size: 14px;
    color: #888;
    display: block;
    margin-bottom: 5px;
}

.form-input {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    border-top: 0;
    border-left: 0;
    border-right: 0;

}

.form-submit-btn {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
    width: 380px;
    margin: 24px auto;
    text-align: center;
    border: 1px solid black;

}

.form-submit-btn:hover {
    background-color: #333;
}
.form-submit-btn:active {
    background-color: #fff;
    color: black;
    border-radius: 100px;
    border: 1px solid black;
}

.form-radio-container {
    max-width: 360px;
    margin: 0 auto;
}

.form-label {
    font-size: 14px;
    color: #888;
    display: block;
    margin-bottom: 10px;
}

.radio-group {
    display: flex;
    flex-wrap: wrap;
}

.radio-item {
    margin-right: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    width: 40%;
}

.form-radio-input {
    margin-right: 8px;
}

.radio-label {
    font-size: 14px;
    color: #555;
}

.formCloseCircle{
    width: 110px;
    height: 110px;
    border-radius: 100px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 45%;
    left: 90%;
    position: absolute;
    cursor: pointer
}

.privacyText{
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    text-decoration: underline;
    color: #0D0D0D;
}

.formBottomContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.horizontalLine{
    width: 124px;
    height: 1px;
    background-color: #BDBDBD;
    margin-top: 4px;
}
.orText{
    margin-left: 40px;
    margin-right: 40px;
}

.formContactsBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainBottomContentLink{
    text-decoration: none;
    border-right: 1px solid grey;
    padding-right: 24px;

}

.mainBottomContentLeftPadding{
    padding-left: 24px;
}

.menuCases{
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    margin-left: 40px
}

@media (max-width: 1440px) {
    .formLeft{
        width: 50%;
    }
    .formRight{
        width: 50%;
    }

}


@media (max-width: 1025px) {
    .mainRightContent {
        display: none;
    }

    .menuBtn {
        display: block;
        padding-top: 40px;
        padding-right: 60px;

    }

    .elgrowLogo {
        right: 40px;
        width: 55%;
        height: 35%;
        top: 38%;
    }

    .mainDescriptionBox {
        position: absolute;
        top: 124px;
        left: 30%;
        width: 80%;
        font-size: 24px;
    }

    .mainBottomContent {
        display: flex;
        position: absolute;
        bottom: 24px;
        justify-content: space-around;
        width: 100%;
    }

    .formLeft{
        width: 65%;
    }
    .formRight{
        width: 35%;
    }
}

@media (max-width: 768px) {
    .mainBottomContentImg {
        width: 204px;
        height: 140px;
        border-radius: 80px;
        object-fit: cover;
    }
    .formCloseIcon{
        display: flex;
        width: 100%;
        cursor: pointer;
        position: absolute;
        top: 40px;
        right: 30px;

    }
    .formCloseCircle{
        display: none;
    }
    .elgrowLogo {
        right: 40px;
        width: 50%;
        height: 30%;
        top: 40%;
    }

    .mainDescriptionBox {
        left: 38%;
        width: 85%;
    }

    .mainDescription{
        font-weight: 500;
        line-height: 30px
    }


    .servicesFilters{
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        white-space: nowrap;
        overflow-x: auto;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .servicesFiltersElem{
        margin-right: 24px;
        font-size: 20px;
        line-height: 30px;
    }
    .servicesBox{
        display: block;
        margin: 0 auto;
        width: 100%;
    }
    .servicesDescriptionBox{
        margin-left: 20px;
        margin-top: 80px;
    }
    .imagesContainer{
        display: flex;
        flex-direction: column;
    }
    .portfolioTopImg{
        width: 100%;
        height: 420px;
    }
    .mainBottomContent{
        overflow-x: auto;
    }
    .formLeft{
        width: 100%;
    }
    .formRight{
        width: 0%;
    }
    .portfolioImgWrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .portfolioElemContainer{
        width: 100%;
    }
    .contactUsBtn {
        width: 211px;
        height: 76px
    }
    .contactUsBtnImg{
        width: 60px;
        height: 60px
    }

    .elgrowLogoMenu{
        min-width: 220px;
        height: 65px;
        margin-top: 24px;
        margin-left: -30px;
    }
    .elgrowDescriptionMenu{
        max-width: 200px;
        font-size: 16px;
        font-weight: 500;
        margin-top: 24px
    }
    .mainContainer{
        padding-left: 30px;
    }
    .menuBtn {
        padding-right: 30px;
    }
}

@media (max-width: 400px) {
    .menuBtn {
        padding-right: 20px;

    }
    .contactUsBtnContainer{
        display: none
    }
    .contactUsBtnContainerReversed{
        display: block;
    }
    .mainContainer{
        padding-left: 16px;
    }
    .elgrowLogo{
        top: 33%;
        width: 350px;
        height: 101px;
        left: 16px;
        margin-top: 16px;
    }
    .servicesBox {
        display: block;
        margin: 0 auto;
        padding-top: 10%;
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }

    .mainDescriptionBox{
        left: 14%;
        width: 100%;
        font-weight: 500;
        line-height: 20px;
        height: fit-content;
    }

    .servicesFiltersElem{
        margin-right: 24px;
        font-size: 20px;
    }

    .servicesDescriptionBox{
        margin-left: 16px;
    }
    .portfolioTopImg{
        width: 100%;
        height: 315px;
    }
    .mainBottomContentBtn{
        width: 170px;
    }
    .mainBottomContent{
        overflow-x: auto;
        top: 55%;
        height: fit-content;
        padding-left: 14px
    }
    .mainBottomContentImg {
        width: 170px;
        height: 116px;
    }
    .contactUsBtnContainer{
        top: 80%;
    }
    .contactUsBtnReversed{
        display: flex;
    }

    .elgrowLogoMenu{
       display: none;
    }
    .elgrowDescriptionMenu{
       display: none;
    }
    .menuLine{
        left: 38%;
    }
    .menuCases{
        flex-direction: column;
        align-items: flex-start;
        margin-left: 120px;
        justify-content: flex-end;
        margin-top: 34%;
    }
}

@keyframes expand {
    from {width: 0;}
    to {width: 100%;}
}


@keyframes ticker {
    0% {
        transform: translate(100%, 0);
    }

    50% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}
